<div class="flash_message">
  <div class="notice">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
  </div>
</div>
<div class="container form">
  <div class="form_frame">
    <p>アカウント編集</p>
    <div class="form_inner edit_form">
      <%= form_with scope: :session, url: "account"  do |f| %>
        <p>メールアドレス</p>
        <div>
          <%= f.email_field :email %>
        </div>
        <p>変更後のパスワード（変更する場合のみ入力）</p>
        <div>
          <%= f.password_field :new_password %>
        </div>
        <p>パスワード確認用（変更する場合のみ入力）</p>
        <div>
          <%= f.password_field :check_password %>
        </div>
        <p>現在のパスワード</p>
        <div>
          <%= f.password_field :password %>
        </div>
        <%= f.submit "更新" %>
      <% end %>
      <%= link_to"戻る","account", class:"back" %>
    </div>
  </div>    
</div>