<div class="header_items">
  <div class="header_left">
    <a href="/">
      <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"
          alt="site_logo">
    </a>
      <input class="fas search font" type="search" placeholder="&#xf3c5; エリア">
      <input class="fas search font" type="search" placeholder="&#xf002; キーワード">
  </div>
  <div class="header_right login_user">
    <div class="user user_name"><%= "#{@current_user.name}" %></div>
    <div class="user user_icon" id="user_menu" ><%= image_tag "#{@current_user.image}" %></div>
  </div>
  <div id="navi">
      <p><%= link_to"ルーム登録","/rooms/new",class:"js_menu" %></p>
      <p><%= link_to"予約済みのルーム一覧","/reserves/reserved",class:"js_menu" %></p>
      <p><%= link_to"登録済みのルーム一覧","/reserves/post",class:"js_menu" %></p>
      <p><%= link_to"設定","/users/account",class:"js_menu" %></p>
      <p><%= link_to"ログアウト","/login",method: :delete,class:"js_menu" %></p>
  </div>
</div>

<script>
  $(function(){
    $('#navi > p').hide();
    $('#user_menu').click(function(){
    // 引数には開閉する速度を指定します
    $('#navi > p').slideToggle('fast');
  });
  });
</script>